.footer{
    padding: 2em;
    border-top: 1px solid wheat;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 300px;
    color: white;
}

.logo{
    width: 30px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}