.card:hover{
    background-color: #00AFC8;
    border: 2px solid #fafafa;
    transform: translateY(-1rem);

}
.card__footer{
    text-align: center;
}

.card{
    border: 2px solid #00AFC8;
    border-radius: 5px;
    max-width: 300px;
    transition: transform 200ms ease-in-out,background-color 500ms linear;
}